/* ------------------*/
/*   Partie commune  */
/* ------------------*/
@font-face{ 
	font-family: 'AlexBrush-Regular';
	src: url('fonts/AlexBrush-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  outline: none;
}

body {
	background-image: url("images/greyzz.png");
	background-attachment: fixed; /* fixed - float */
	background-repeat: repeat; /* repeat - no-repeat */
	color: black;
	margin: 0 auto;	
	display: flex;
    flex-direction: row;	
    align-items: flex-end;
}	

h1 {
	text-align: center; /* left - right - center - justify */
	text-shadow: 8px 6px 14px rgb(185, 147, 146); 
	color: maroon;	
	font-family: "Arial Black", Arial, sans-serif;
}



h2 {
	color: navy;
	text-align: center; 
	text-shadow: 8px 6px 14px rgb(188, 212, 234); 
	font-family: "AlexBrush-Regular", Impact, "Arial Black", Arial, sans-serif;
}

em {
	text-align: center; /* left - right - center - justify */
	font-style: normal;
	font-size: 20px; 
	font-weight: bold;
}

mark {
	text-align: center; /* left - right - center - justify */
	background-color: rgba(255, 255, 255, 0);
}

a, 
a:visited {
	text-decoration: none;
    cursor: pointer;
}

li {	
	font-size: 16px; 
	margin-bottom: 0.4em;
}

#bandeau {
	background-color: #663300;
	margin-left: 0.5em;
	margin-right: 1%;
	margin-top: auto;
	margin-bottom: auto;
	width: 20px;
	height: 1000px;	
    border-radius: 10px;
}

#contenu {
	flex-direction: column;	
	width: 90%;
}

.social-media {
	display: inline-block;
	float: center;	
}

.social-media ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.social-media li {
  list-style-type: none;
  margin: 5px;
}

.social-media a {
  color: rgb(52, 52, 52);
  border: 1px solid rgb(163, 163, 163);
  border-radius: 150px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.social-media-icon:hover,
.social-media-icon:focus {
  background: rgb(187, 187, 187);
  color: white;
  border: 1px solid whitesmoke;
  transform: scale(1.2);
}

.twitter:hover,
.twitter:focus {
  background: #1da1f2;
}

.facebook:hover,
.facebook:focus {
  background: #6aa0ca;
}

.instagram:hover,
.instagram:focus {
  background: linear-gradient(
    194deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 75%,
    rgba(252, 176, 69, 1) 100%
  );
}

.linkedin:hover,
.linkedin:focus {
  background: #0073b1;
}

.pdf, 
.eye {
	margin-left : 2px;
	width: 18px;
	height: 18px;
}

/* Noir et blanc */
.icone {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.icone:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.eye:hover {
	 -webkit-transition: all 1.3s ease;
	 transition: all 1.3s ease;
	rotate: 360deg;
}

.mes_info {
	text-align: center; 
}

#ma_photo {
	border-top: 2px gray solid;
	border-right: 2px gray solid;
	border-bottom: 1px black solid;	
	border-left: 1px black solid;
	border-radius: 10px; 
	margin: 0.4em 0.5em 0.4em 0.5em; /* top right bottom left */
	width: 120px;
	height: 160px;
}

.ma_photo {
	 -webkit-transition: all 0.7s ease;
	 transition: all 0.7s ease;
	 -webkit-filter : saturate(90%); /* Chrome, Safari, Opera */
	 filter : saturate(90%);
	} 

.ma_photo:hover,
.ma_photo:focus {
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
	filter: grayscale(0%);
	-webkit-filter : saturate(120%); /* Chrome, Safari, Opera */
	filter : saturate(120%);
	-ms-transform: scale(1.5) translate(-200px); /* IE 9 */
	-webkit-transform: scale(1.5) translate(-200px); /* Safari 3-8 */
	transform: scale(1.5) translate(-200px);
	}

.donnees {
	display: flex;
}

a:hover {
	color: green;
}

li:hover {
	background-color: rgba(255, 255, 102, 0.5);	
}

/* quand on clic avec la souri - ne fonctionne que sur des liens (a) */
a:active {
	color: red;
}

/* pour indiquer où est la focus (avec le clavier) - utile pour les formulaires */
a:focus {
	background: #77FFFF;
}

/* quand on a déjà visité le lien */
a:visited {
	color: purple;
}

/* -----------------------------------------------------------------------------*/
/*   Modification de l'affichage pour les écrans d'au moins de 800px de large   */
/* -----------------------------------------------------------------------------*/
@media screen and (min-width: 801px) {
	#ma_photo {
		float: right;
	}

	.element {
		display: inline-block;
		vertical-align: top;
		margin-right: 0.2em;
	}

	.element:nth-child(1) {
		width: 50%;
	}

	.element:nth-child(2) {
		width: 50%;
	}

	
}

/* ---------------------------------------------------------------------------*/		
/*   Modification de l'affichage pour les écrans de moins de 800px de large   */
/* ---------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {	
	#ma_photo {
		border-top: 2px gray solid;
		border-right: 2px gray solid;
		border-bottom: 1px black solid;	
		border-left: 1px black solid;
		border-radius: 10px; 
		margin: 0.2em 0.4em 0.2em 0.4em; /* top right bottom left */
		width: 100px;
		height: 120px;
	}
	
	#reseaux_sociaux {
	width: 30px;
	height: 30px;
    margin-right: 0;
	}
	
    #bandeau {
		display: none;
	}
	
	.donnees {
		display: flex;
		flex-direction: column; 
	}	

}

/* ---------------------------*/	
/*   Les navigateurs mobiles  */
/* ---------------------------*/	
@media all and (max-device-width: 480px) {
	#ma_photo {
		border-top: 2px gray solid;
		border-right: 2px gray solid;
		border-bottom: 1px black solid;	
		border-left: 1px black solid;
		border-radius: 8px; 
		margin: 0.2em 0.4em 0.2em 0.4em; /* top right bottom left */
		width: 80px;
		height: 95px;
	}
	
	#reseaux_sociaux {
	width: 20px;
	height: 20px;
    margin-right: 0;
	}
	
    #bandeau {
		display: none;
	}
	
	#contenu {
        width: auto;
    }
	
	.donnees {
		display: flex;
		flex-direction: column; 
	}	
	
	li {	
		font-size: 14px; 
		margin-bottom: 0.4em;
	}
}